body {
  background-color: hsla(228, 9%, 10%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.grid {
  height: 100vh;
}

.grid #grid-container {
  width: 500px;
  height: 500px;
  border: 2px solid rgb(25, 25, 25);
  display: flex;
  background-color: rgb(5, 5, 5);
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}

.grid-item {
  line-height: 0;
  background-color: rgb(44, 36, 36);
}

.title {
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  color: hsla(271, 100%, 92%, 1);
}

button {
  height: 30px;
  width: 100%;
  text-align: justify;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 15px;
  border-color: hsla(271, 100%, 92%, 1);
  border-width: 5px;
  background-color: hsla(271, 100%, 92%, 1);
}

button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: hsla(271, 100% , 74%, 1);
}

.menus,
.colors {
  display: flex;
  flex: 1;
  gap: 2px;
}

.menu,
.color {
  flex: 1;
  gap: 2px;
}

